.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tabClassName {
  color: #fec653;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Roboto';
  border-bottom: 3px solid #fec653;
}

.normalTabClassName {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Roboto';
}
